<% Dir.entries(@dir_to_list || dir_to_list).each do |dir| %>
  <% unless dir.start_with?('.') then %>
    <div>
      <a href="<%= "#{@context}/#{dir.gsub(".md",".html")}" %>">
        <%# .to_s stops errors about void variable %>
        <%= dir.gsub(".md","") %>
      </a>
    </div>
    <% end %>
<% end %>
