// General
$arrow-size: 5px;
$title-font-size: 2em;
$title-side-padding: 20px;

$break-small: 900px;
$break-large: 1200px;

$primary-color: #f2f5f8;
$secondary-color: #444;
$content-color: #fcfdff;
$content-background-color: #222;

$main-font: 'PT Sans', sans-serif;

$flow-blue: #2598f4;
$flow-blue-hover: #0964aa;

// Header
$header-background-color: #eee;

// Button class
$button-text-color: white;
$button-background-color: $flow-blue;
$button-background-hover-color: $flow-blue-hover;
$button-hover-cursor-type: pointer;

// Input fields
$input-border-color: #ddd;

// Modal class
$modal-background: #fcfdff;
$modal-shadow-color: #AAA;

// Repo Highlight class
$repos-highlight-text-color: white;

// Arrow classes
$arrow-color: black;

// Sidebar
$sidebar-link-color: black;
$sidebar-separator-color: grey;

// Card class
$card-background-color: #efefef;
