<!DOCTYPE html>
<html>
  <head>
    <title>FibreOpticKitten</title>
    <%= csrf_meta_tags %>

    <link href='https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic' rel='stylesheet' type='text/css'>

    <%= stylesheet_link_tag    'application', params[:controller], media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', params[:controller] %>
  </head>

  <body>
    <%= controller_name.include?("blog_post") ? render("layouts/blog") : yield %>
  </body>
</html>
